<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src='vendors/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='scripts/client.js'></script>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>Customer Orders</title>
  </head>

  <body>
    <h1>Customer Orders</h1>
    <table id="custTbl">
      <tr>
        <th>Customers</th>
        <th>Order Details</th>
      </tr>
      <tr id="tblRow">
        <td id='orders'></td>

      </tr>
    </table>
  </body>

</html>
